<%- include("header", {title: title}); %>

<main class="container">
    <div class="banner">
        <div class="index-text">
            <h1>Lab management made easier</h1>
            <p>
                Covid isn't real, but when I had it was bad. <br>
                So bad they were about to put me in ICU, <br>
                but before they could Donald Trump came into my room with <br>
                a Brazilian viper in each of his beautiful massive hands. <br>
                He pushed the doctors and nurses out of the way and let a viper bite each arm.
                <br>
                <br>
                Five minutes later Donald and I walked out arm in arm. The doctors were crying, <br>
                begging for his help. He turned at the door and said, "You chose the vaccine"
            </p>
        </div>
        <div class="index-picture">
            <img src="/img/index-png.png">
        </div>
    </div>
</main>
<%- include("footer"); %>
